body {
	font-family: "Damion", cursive;
}

/* Backgrounds */

.first-background {
	background-image: url("../img/beach-island.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
}

.second-background {
	background-image: url("../img/ocean-fish.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	margin-top: 46.5%;
}

/* Navigation Bar */
.navbar-image{
	background-image: url("../img/bubble2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: fixed;
	width: 9em;
	height: 9em;
	margin-top: 2em;
	margin-left: 2em;
	top: 0%;
}
.navbar-image img {
	width: 4em;
	height: 4em;
	margin-top: 30%;
	margin-left: 28%;
}
.header-name {
	margin-left: 68em;
	width: 30em;
}
.navbar {
	margin-top: 0;
}

.navbar ul{
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	position: fixed;
	margin: 11em 0em 0em 3em;
	top: 0%;
}
.navbar li {
	text-align: center;
	list-style-type: none;
	width: 7em;
	height: 7em;
	background-image: url("../img/bubble2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80% 80%;
	margin-top: 10%;
}
.navbar ol {
	list-style-type: none;
}

.navbar li a {
	margin: 0em;
	display: inline-block;
	color: black;
	font-size: 120%;
	text-align: center;
	text-decoration: none;
}

.navbar li a:hover{
}

/* Intro Page Message */

.intro-message {
	font-size: 10em;
	text-align: center;
	position: center;
	margin-top: 9%;
	width: 100%;
}

/* About Me Page */

.developement {
	background-image: url("../img/bubble1.jpg");
	background-size: 100% 100%;
	margin-top: 13%;
	margin-left: 20%;
	position: absolute;
	width: 30em;
	height: 30em;
	text-align: center;
}
.developement h2 {
	text-align: center;
}
.developement p {
	font-size: 200%
}
/* Career Page */

.career {
	background-image: url("../img/bubble1.jpg");
	background-size: 100% 100%;
	margin-top: 27%;
	margin-left: 50%;
	position: absolute;
	width: 30em;
	height: 30em;
	text-align: center;
}
.career h2 {
	text-align: center;
}